<h1>employees works!</h1>

<p>Here's a list of employees: feel free to play with it.</p>
<p *ngIf="!employees"><em>Loading...</em></p>
<table class='table table-striped' aria-labelledby="tableLabel" [hidden]="!employees">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.id }}</td>
      <td>{{ employee.name }}</td>
      <td>{{ employee.address }}</td>
    </tr>
  </tbody>
</table>
