<h1>employees works!</h1>

<p>Here's a list of employees: feel free to play with it.</p>
<p *ngIf="!employees"><em>Loading...</em></p>

<div class="commands text-right" *ngIf="employees">
  <button type="button"
          [routerLink]="['/employee']"
          class="btn btn-success">
    Add a new Employee
  </button>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" [hidden]="!employees">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td><a [routerLink]="['/employee', employee.id]">{{employee.id}}</a>
      </td>
      <td>{{ employee.name }}</td>
      <td>{{ employee.address }}</td>
    </tr>
  </tbody>
</table>
